.Product{
    height: 200px;
    margin: 80px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s;
    mix-blend-mode: multiply;

}
.Product img{
    width: 190px;
}
.Product .Description{
    text-align: center;
}
.Product:hover{
    mix-blend-mode: multiply;
    transition: 0.1s ease-in;
    cursor: pointer;
    transform: scale(1.02);
}
.addToCartBtn{
    max-width: fit-content;
    background-color: transparent;
    border: 2px solid rgb(19, 19, 19);
    padding: 5px 10px;
    border-radius: 15px;
    margin: 15px 0px 30px 0px;
}
.addToCartBtn:hover{
    background-color: rgb(19, 19, 19);
    color: white;
    cursor: pointer;
}
.Description b{
    font-size: 14px;
}
.paging{
    display: flex;
    justify-content: center;
}
.paging button{
    width: 45px ;
    height: 30px ;
    background-color: rgb(19, 19, 19);
    color:white;
    border: none ;
    border-radius: 8px;
    margin: 10px;
    text-align: center;
}
.paging input{
    width: 40px;
    text-align: center;
    border: 0;
    background-color: transparent;
}
.pagesWord{
    margin-bottom: 0px;
}
.dimmed{
    background-color: gray !important;
    cursor:default !important;
}
.Toastify__toast-theme--colored.Toastify__toast--info {
    background: #fff !important;
}
.Toastify__progress-bar--info {
    background: #fff !important;
}